@model IEnumerable<PrintumCommerce.Models.User>
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}
<paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
    <chunk red="255" green="0" blue="0">@ViewBag.Title</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="10;8;20;10" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" ><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"></chunk></cell>
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center"></cell>
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Left"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> Identificacion del producto</chunk> </cell>
        <cell borderwidth="1" ><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"></chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="0" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Código</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">nOMBRE</chunk>
            </cell>
            <cell borderwidth="0" width="25%" left="false" right="false" top="false" bottom="true">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white"> PRINTUM° RUV BARNIZ 1800 Cp </chunk>
            </cell>

        </row>
        <row background-color="#dddddd" borderwidth="0">
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white"> nO UN</chunk>
            </cell>
            <cell borderwidth="0" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">101-01</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">sINONIMOS</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">  >>>> </chunk>
            </cell>

        </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="10;8" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Formula Quimica</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Provedor  </chunk>
        </cell>
  

    </row>
    <row background-color="#dddddd" borderwidth="0">
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white"> Pre-polimero epoxi acrilato -Ester de acido acrilico</chunk>
        </cell>
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pRiNtUm SAS</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20;8;8" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> Composicion/Informacion Sobre</chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center" horizontalalign="Left"> los componentes</chunk></cell>
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center"></cell>
       
       
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white" align="center">Componente</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white">%</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white"> No Cas</chunk>
        </cell>

    </row>
    <row background-color="#dddddd" borderwidth="0">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Monomeros acrilicos multifuncionales</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">70.00%</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">  </chunk>
        </cell>

    </row>
    <row background-color="#dddddd" borderwidth="0">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Oligomero</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">10.00%</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">  </chunk>
        </cell>

    </row>
    <row background-color="#dddddd" borderwidth="0">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Aditivos</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">20.00%</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">  </chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1" ><chunk style="font-size:10;font-weight:bold;align-content:center; "  color="white"  horizontalalign="Left"> Identificación de Peligros</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Primeros Auxilios</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Medidas de lucha contra incendios</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Medidas en caso de vertigo accidental</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Manejo y almacenamiento</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Controles/Proteccion Personal</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Propiedades físicas y quimicas</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>

<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Propiedades físicas y quimicas</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Irritacion por exposicion prolongada y continua</chunk>
        </cell>

    </row>
</table>


<newline />